<!-- Begin Team List-->
<section id="organiation" class="team">
    <div class="content-wrapper">
<!--    
	    <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.teamBlockTitle }}</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>
        </div>
-->
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Organizers</h4>
    
 		 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">General Chairs</h5>

<h6>David Benavides, Antonio Ruiz-Cortés</h6>
		</div>	               
		<div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">  
		<h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Research Track Chairs</h5>
<h6>
Myra B. Cohen, Mathieu Acher</h6>
</div>
                 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
		 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Industrial Systems and Software Product Lines</h5>

<h6>Daniel Schall, Lidia Fuentes</h6>
</div>
                 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Future of System and Software Product Lines</h5>
<h6>Rafael Capilla, TBD</h6>
</div>
                 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Panels</h5>
<h6>TBD</h6>
</div>
                 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Tutorials</h5>
<h6>Ebrahim Bagheri, Yingfei Xiong</h6>
</div>
                 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Workshops</h5>
<h6>Roberto López Errejón, Thomas Thüm</h6>
</div>
                 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Doctoral Symposium</h5>
<h6>Oscar Díaz, Marcello la Rosa</h6> 
</div>
                 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Hall of Fame</h5>
<h6>Natsuko Noda, Goetz Botterweck</h6>
</div>
                 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Demonstations and Tools</h5>
<h6>Maurice ter Beek, TBD</h6>
</div>
                 <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Publicity</h5>
<h6>TBD</h6>
</div>

<div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Local Organization</h5>
<h6>Manuel Resinas</h6>
</div>
<div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Publication/Proceedings</h5>
<h6>Javier Troya</h6>
</div>
<div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Finantial</h5>
<h6>Pablo Trinidad</h6>
</div>
<div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Student Volunteers</h5>
<h6>Beatriz Bernárdez</h6>
</div>
<div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Web</h5>
<h6>Antonio M. Gutiérrez, José A. Galindo</h6>
</div>
<div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Sponsors</h5>
<h6>TBD</h6>
</div>
<div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                 <h5 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Social events</h5>
<h6>Adela del Río</h6>
</div>


</div>
<!--
           {% for teamMember in site.data.team %} {% if teamMember.team != null %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ teamMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: teamMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <h2 class="name">{{ teamMember.name }} <span>{{ teamMember.surname }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ teamMember.title }}</span>
                            </div>
                            {% for social in teamMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>

        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Program committee</h4>
            {% for teamMember in site.data.team %} {% if teamMember.subTeam != null %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ teamMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: teamMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <h2 class="name">{{ teamMember.name }} <span>{{ teamMember.surname }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position">{{ teamMember.title }}</span>
                            </div>
                            {% for social in teamMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
-->
</section>
<!-- End Team List -->
